<% provide(:title, "About") %>

<div class="raw">
      <div class="cover text-black text-center py-5">
        <h1 class="display-4 mb-4">About　EVHAP</h1>
        <p>evryday everyone happily</p>
      </div>
    </header>
    <main>
      <section class="py-5">
        <h2 class="text-center mb-5">機　能　紹　介</h2>
        <div class="container">
          <div class="mb-5 raw">
            <div class="col-sm-6">
              <h3>投稿機能</h3>
              <p>みんなに知らせたい情報や画像を貼り付けて投稿できます！</p>
            </div>
              <div class="col-sm-6">
                <%= image_tag("sample.png", :class => "w-100") %>
              </div>
          </div>
        </div>
      </section>

      <section class="py-5">
        <h2 class="mb-5 text-center">追　加　機　能</h2>
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#api" class="nav-link active" data-toggle="tab">ログインAPI</a></li>
            <li class="nav-item"><a href="#dm" class="nav-link" data-toggle="tab">ダイレクトメッセージ</a></li>
          </ul>
          <div class="tab-content py-4">
            <div id="api" class="tab-pane active">
              <p>Twitter/Facebook login</p>
            </div>
            <div id="dm" class="tab-pane">
              <p>ユーザーダイレクトメッセージ機能</p>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-primary" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">みんなで仲良く情報交換しよう！！</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">便利な機能！　オシャレな機能！　ハッピーな機能！　とにかく良いものはどんどんアウトプットして行きましょう！！</p>
              <%= link_to "新　規　登　録", signup_path, class:"btn btn-light btn-lg js-scroll-trigger" %>
            </div>
          </div>
        </div>
      </section>
    </main>
</div>