<% provide(:title, "Contact") %>

<div class="raw">
  <div class="cover text-black text-center py-5">
    <h1 class="display-4 mb-4"><i class="fab fa-youtube"></i>You Tube</h1>
    <p>IT業界だけでなく様々な仕事に関する情報</p>
  </div>
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <div class="portfolio-caption">
              <h4>UZ</h4>
              <p class="text-muted">就活に役立つ業界説明。</p>
            </div>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/g3KrK4dh_XE" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <div class="portfolio-caption">
              <h4>パソコン塾</h4>
              <p class="text-muted">パソコン使ってできる事を色々解説。</p>
            </div>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/j1kLjFOujSs" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <div class="portfolio-caption">
              <h4>気分が上がる曲</h4>
              <p class="text-muted">プログラミングをやる上で絶対的存在！（個人的に）</p>
            </div>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/7j5Jr2-eUZc"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
</div>