<h1>始めよう！</h1>

<p>こんにちは <%= @user.name %>,</p>

<p>
ようこそ、EVHAPへ！！　参加する！をクリックして下さい！
</p>

<%= link_to "参加する！", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>